*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
YOUWallet/android/.idea
YOUWallet/android/build
.idea
YOUWallet/node_modules
YOUWallet/ios/Pods
YOUWallet/android/app/build
YOUWallet/android/rnlibs/build
YouChainMobile.entitlements
YOUWallet/ios1
IDEWorkspaceChecks.plist
package-lock.json
